/* Welcome Line */
#welcome-line {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #053659;
  color: #ffffff;
  font-size: 16px;
  z-index: 1001; 
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


#head {
  position: fixed;
  
  width: 100%;
  background-color: #ffffff;
  z-index: 1000; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.org-nav {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  background-color: #ffffff;
  color: #052659;
  z-index: 1000; 
}

#icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.navbar-list1 {
  display: flex;
  list-style: none;
  margin-left: auto;
  font-size: medium;
}

.navbar-list1 a {
  text-decoration: none;
  color: #052659;
}

.nav-list-items1 {
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-list-items1:hover {
  text-decoration: underline;
  animation: pulse 1s ease infinite;
}

/* Side Navbar */
.org-nav-side {
  position: fixed;
  top: 105px; /* Push it down below the welcome-line and top navbar */
  left: 0;
  width: 17%;
  height: calc(100vh - 100px); /* Full height minus space for welcome-line and top navbar */
  background-color: #053659;
  color: #ffffff;
  border-top-right-radius: 20px;
  padding-top: 20px;
  z-index: 10;
  overflow-y: auto;
  
}
/* Side Navbar Links */
.org-nav-links {
  list-style: none;
padding: 2%;
  font-size: 30px;
}

.org-nav-links li {
  display: flex;
  align-items: center; 
  padding: 2%; 
  gap: 10px;
 margin-left: 10%;
  margin-top: 20%;
  font-size: 25px;
}

.org-nav-links li a {
  display: flex; 
  align-items: center; 
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out;
  width: 100%; 
}

.org-nav-links li a:hover {
  text-decoration: underline;


}


.org-nav-links li .active {
  text-decoration: underline;
  padding: 2%;
  display: flex;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  background-color: #053659;
  padding: 3% 5%;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
}

.modal-content h3 {
  margin-bottom: 8%;
  font-size: 30px;
}

.modal-content button {
  margin: 15px;
  margin-top: 14%;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  font-size: medium;
}

.modal-content button:hover {
  background-color: transparent;

  color: #ffffff;


}
/* Main content container */
.container {
  margin-top: 110px; /* Creates space for the fixed welcome-line and top navbar */
  margin-left: 19%; /* Creates space for the fixed sidebar */
  padding: 20px;
  overflow-y: auto;
}
