.hr-date-time-inputs {
  margin-top: 10px;
}

.hr-date-time-inputs label {
  display: block;
  margin-bottom: 5px;
}

.hr-date-time-inputs input[type="date"] {
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hr-date-time-inputs input[type="time"] {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.job-table-box {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-left: 18%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

  }
  .have{
    margin-top: 8%;
    margin-left: 8%;
   
  }
  
  .job-table-box th, .job-table-box td {
    
    padding: 10px;
    text-align: left;
    border-radius: 5px;
  }
  
  .job-table-box th {
    background-color: #053564;
    color: white;
    border: 1px solid #fffefe;
  }
  
  .view-resume-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .remove-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .view-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .select-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }