/* Welcome Line */
#welcome-line {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #053659;
    color: #ffffff;
    font-size: 16px;
    z-index: 101;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #052659;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 7px 10px;
}

/* Navbar */
#navbar1 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #052659;
    margin-top: 60px; /* Add margin to account for the fixed welcome line */
    width: 100%;
    position: fixed;
    top: -4%; /* Position right below the welcome line */
    z-index: 50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; /* Add some padding to the navbar */
}

/* Adjust the logo */
#pro-icon1 {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

#navbar1 h1 {
    font-size: 24px;
    margin-left: 10px;
}

/* Navbar list items */
#navbar-list1 {
    display: flex;
    list-style: none;
    margin-left: auto;
    font-size: medium;
    margin-right: 20px;
}

#navbar-list1 a {
    text-decoration: none;
    color: #052659;
}

#nav-list-items1 {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Sidebar */
.admin-dashboard {
    display: grid;
    grid-template-columns: 240px 1fr;
    margin-top: 100px; /* To ensure it starts below the navbar */
}

.sidebar {
    width: 240px;
    height: calc(100vh - 100px); /* Adjust height to fit within view after navbar */
    background-color: #052659;
    position: fixed;
    top: 100px; /* Ensure it starts below the navbar */
    color: #ffffff;
    z-index: 99;
    padding-top: 20px;
}

  
.admin-dashboard {
    display: grid;
    grid-template-columns: 240px 1fr; /* Sidebar takes 250px and the remaining space goes to main content */
    height: 100vh;
  }
/* sidebar */
  .sidebar {
    width: 240px;
    height: 100vh;
    background-color: #052659;
    position: fixed;
    color: #ffffff;
  }
  
  
  .sidebar ul {
    list-style: none;
    margin-top: 20%;
    padding: 0;
    font-size: larger;
    margin-left: 5%;
  }
  
  .sidebar ul li {
    padding:1rem;
    margin-bottom: 3%;
    
    cursor: pointer;
    font-size: 20px;
  }
  .sidebar ul li a{
    text-decoration: none;
    color:white;
  }
  .logout-link{
    text-decoration: none;
    
  }
  .sidebar ul li.active {
    background-color:rgb(255, 255, 255);
    color: #052659;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  /* maincontent */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  /* dashboard */
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 columns for 5 boxes */
    gap: 25px;
    margin-top: 4%;
    margin-left: 3%;
  }
  
  .stat-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    color:#052659;
    padding-left: 10px;
    
    width:20rem;
    height:7rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
.stat-box h3{
    margin-top: -1rem;
    font-size: 2.5rem;
    font-family: 'Roboto';
    color:white;
}
  .dashboard-boxes h2{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    padding-bottom: 1rem;
  }
  .stat-box p {
    font-size: 25px;
    margin-top: 1.1rem;
    
  }
  .stat-box span{
    position: absolute;
    font-size: 5rem;
    margin-top:-2%;
    margin-left: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
  }
  
 
  /* Jobs Management */
.jobs-management {
  padding: 20px;

}

.jobs-table {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-collapse: collapse;
  margin-top: 20px;
}

.jobs-table th,
.jobs-table td {
  text-align: left;
  padding: 10px;
}

.jobs-table td {
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
}

.jobs-table th {
  background-color: #052659;
  color: white;
  border: 1px solid white;
}

.jobs-table td button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close {
  background-color: #dc3545;
  color: white;
}

.reopen {
  background-color: #28a745;
  color: white;
}

.close:hover,
.reopen:hover {
  opacity: 0.9;
}
 /* customer */
 .users-management1 {
  padding: 20px;
}
#hhh{
  margin-top: 10px;
  text-align: center;
}
/*org-manage*/
  .users-tabl {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-collapse:collapse;
    margin-top: 20px;
  }
  
  .users-tabl th,
  .users-tabl td {
    text-align: left;
    padding: 10px;
  }
  .users-tabl td{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
  }
  .users-tabl th {
    background-color:#052659;
    color: white;
    border: 1px solid white;
  }
  
  .users-tabl td button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /*user-manage*/
  .users-table {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-collapse:collapse;
    margin-top: 20px;
  }
  
  .users-table th,
  .users-table td {
    text-align: left;
    padding: 10px;
  }
  .users-table td{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
  }
  .users-table th {
    background-color:#052659;
    color: white;
    border: 1px solid white;
  }
  
  .users-table td button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .ban {
    background-color: #dc3545;
    color: white;
  }
  
  .banned {
    background-color: #28a745;
    color: white;
  }
  
  .ban:hover,
  .banned:hover {
    opacity: 0.9;
  }
  .address {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px; /* adjust the width to your liking */
  }  
  /* services */
.head{
    display: flex;
    justify-content: space-between;
    margin-right:3rem;
}
  .add-service-form {
    margin-bottom: 30px;
    margin-top: 1rem;
    background-color: var(--background-color);
    padding:1rem;
  }
  
  .add-service-form h3 {
    margin-bottom: 10px;
  }
  
  .add-service-form input,
  .add-service-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-service-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .add-btn{
    background-color: var(--text-color);
    color:white;
  }
  .add-service-form button:hover {
    background-color: #218838;
  }
  
  .services-admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .service-admin-card {
    background-color:var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    text-align: left;
  }
  
  .service-admin-card h3 {
    margin-top: 0;
  }
  
  .service-admin-card p {
    margin: 8px 0;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .services-management button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .activate {
    background-color: #28a745;
    color: white;
  }
  
  .deactivate {
    background-color: #dc3545;
    color: white;
  }
  
  .remove {
    background-color: var(--text-color);
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  .remove-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e1e1e1;
    border: 1px solid #ddd;
    padding: 20px;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .remove-popup h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
  }
  
  .remove-popup p {
    margin-bottom: 20px;
  }
  
  .remove-popup button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .remove-popup button:hover {
    background-color: #ff0000;
  }
  
  .remove-popup button:active {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .orgpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .orgpopup p {
    margin-bottom: 20px;
  }
  
  .orgpopup button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .orgpopup button:hover {
    background-color: #3e8e41;
  }
  
  .orgpopup button:first-child {
    margin-right: 20px;
  }

  #view{
    padding: 2.5%;
    margin-left: 2%;
  }
  .view-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #052659;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 40%;
}

.view-popup h2 {
  margin-top: 0;
}

.view-popup p {
  margin-bottom: 10px;
}

.view-popup img {
  margin: 20px auto;
  display: block;
  border-radius: 50%;
}

.view-popup button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45%;
}

.view-popup button:hover {
  background-color: #3e8e41;
}